# Ignore data files
data/

# Ignore saved models
models/

# Ignore DS_Store
.DS_Store

# Ignore saved models
saved_models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.venv
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/

# Miscellaneous
*.spec
*.manifest

# IDEs
.idea/

# PyInstaller
*.spec

# Environments
.env
.venv
venv/
ENV/

# PyCharm
.idea/

# PyPI configuration file
.pypirc
